<div class="navbar navbar-dark" variant="dark" expand="lg">
    <LinkContainer exact to="/">
        <div class="navbar-brand"><img className="header-logo" src={logo} alt="mapping tools - logo" /> Mapping Tools</div>
    </LinkContainer>
    <Navbar.Toggle aria-controls="basic-navbar-nav" />
    <Navbar.Collapse id="basic-navbar-nav">
        <Nav className="mr-auto" activeKey="/">
            <li class="nav-item"><a href="{{ '/downloads' | relative_url }}">Downloads</a></li>
            <li class="nav-item"><a href="{{ '/faq.html' | relative_url }}">FAQ</a></li>
            <LinkContainer exact to="/documentation">
                <Nav.Link>Documentation</Nav.Link>
            </LinkContainer>
            <LinkContainer exact to="/faq">
                <Nav.Link>FAQ</Nav.Link>
            </LinkContainer>
            <LinkContainer exact to="/changelog">
                <Nav.Link>Changelog</Nav.Link>
            </LinkContainer>
        </Nav>
        <div inline="true">
            <span className="os-content"><strong>Auto Detected:</strong> {OS_STATES[this.state.OS.currentOS]} {!this.state.OS.isSupported && "-> Currently not supported!"}</span>
            {this.state.OS.isSupported &&
                <Button variant="primary" onClick={() => this.download(this.state.OS.currentOS)}>Download now</Button>
            }
        </div>
    </Navbar.Collapse>
</Navbar>