{% extends "page.html" %}

{% block content %}
    {% set data = load_data(path="tags.json") %}

    {{ data }}

    <ul>
        {% for tag in data %}
            <li>
                <h1>{{ tag.name }}</h1>
                <p>Commit: {{ tag.commit.id }}</p>
                <p>{{ tag.message | markdown | safe }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
