{% extends "page.html" %}

{% block content %}
    <div class="docs">
        <div class="row">
            <div class="col-2 tab-container">
                {% set section = get_section(path=page.ancestors | last) %}
                <div class="list docu-listgroup">
                {% for page in section.pages %}
                    <a class="list-group-item list-group-item-primary list-group-item-action"
                        href="../{{ page.slug | safe }}">
                        {{ page.title }}
                    </a>
                {% endfor %}
                </div>
            </div>
            <div class="col docu-content">
                <h1>{{ page.title }}</h1>
                {{ page.content | safe }}
            </div>
        </div>
    </div>
{% endblock %}
