{% macro header() %}
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ config.base_url | safe }}">
                <img class="header-logo" src="{{ config.base_url | safe }}/resources/logo.png" alt="mapping tools - logo" /> Mapping Tools
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basic-navbar-nav" aria-controls="basic-navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="basic-navbar-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ config.base_url | safe }}/downloads">Downloads</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ config.base_url | safe }}/docs">Documentation</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ config.base_url | safe }}/faq">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ config.base_url | safe }}/changelog">Changelog</a></li>
                </ul>
                <!-- <div inline="true">
                    <span class="os-content"><strong>Auto Detected:</strong> {OS_STATES[this.state.OS.currentOS]} {!this.state.OS.isSupported && "-> Currently not supported!"}</span>
                    {this.state.OS.isSupported &&
                        <Button variant="primary" onClick={() => this.download(this.state.OS.currentOS)}>Download now</Button>
                    }
                </div>
            -->
            </div>
        </div>
    </div>
{% endmacro %}

{% macro footer() %}
    <div class="footer footer-flex-container">
        <div class="footer-flex-container footer-description">
            <p>made by Olibomby and Potoofu</p>
        </div>
        <div class="footer-flex-container footer-social">
            <div class="footer-donate">
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z5ZHXHWHFYRD4&source=url">
                    <i class="fa fa-heart"></i> Donate
                </a>
            </div>
            <div class="footer-github">
                <a href="https://github.com/OliBomby/Mapping_Tools">
                    <i class="fa fa-github"></i> GitHub
                </a>
            </div>
            <div class="footer-discord">
                <a href="https://discord.gg/JhP964H">
                    <i class="fa fa-discord"></i> Discord
                </a>
            </div>
        </div>
    </div>
{% endmacro %} 